extends ./layout/index

block contenido
    main.container.mt-5     
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget erat feugiat, euismod felis eget, suscipit eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet hendrerit sem, a ultricies felis. Pellentesque ac mollis nisi. Suspendisse vitae sagittis augue. Mauris commodo tincidunt consequat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis cursus magna sapien. Nulla vel velit convallis, sagittis nibh a, accumsan enim. Fusce faucibus erat sed diam auctor scelerisque. Etiam ante orci, dapibus sed cursus ac, imperdiet quis enim. Phasellus consequat, magna quis porta consectetur, .

                            p at molestie diam. Nam vitae nisi rhoncus est porta porttitor. Vestibulum convallis pharetra ligula sed sagittis. 

                            p mattis, diam ut tincidunt imperdiet, nulla ante suscipit sem, quis condimentum justo tortor et ante.  Duis viverra mattis tellus, vitae vehicula neque varius nec. Mauris in tincidunt eros, sit amet facilisis nulla. In lorem nunc, varius ut libero imperdiet, tristique lacinia nunc.


            .listado-iconos
                .container.mt-5.py-5.text-center    
                    .row    
                        .col-md-4   
                            img(src="img/icono_seguridad.svg", alt="iconos seguridad" class="img-fluid mb-4")
                            h2.mb-4 seguridad
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Etiam eget erat feugiat, euismod felis eget, 
                            suscipit eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        
                        .col-md-4   
                            img(src="img/icono_destinos.svg", alt="iconos seguridad" class="img-fluid mb-4")
                            h2.mb-4 destinos
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Etiam eget erat feugiat, euismod felis eget, 
                            suscipit eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                        .col-md-4   
                            img(src="img/icono_precios.svg", alt="iconos seguridad" class="img-fluid mb-4")
                            h2.mb-4 precios
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Etiam eget erat feugiat, euismod felis eget, 
                            suscipit eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.    